:root {
    --height-15min: 1rem;
}

#msgs {
	padding: 10px;
	background: #dddddd;
	max-height: 10.2em;
	overflow-y: auto;
}
.msg {
    padding-bottom: .5em;
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}
.msg.err { color: red; }
.log-time {
    font-style: italic;
    font-size: .9em;
    float: right;
    padding-left: 1em;
    color: #555;
}





#aplus-cal-box {
	position: relative;
}

#aplus-cal-box * { box-sizing: border-box; }



/* nowMarker */

div#nowMarker {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: red;
    user-select: none;
}
#nowMarker .time-bubble {
    position: absolute;
    padding: 0.2em .3em;
    background-color: inherit;
    color: #fff;
    font-size: 0.7em;
    font-weight: bold;
    border-radius: 3px;
    transform: scale(0.3) translateX(-300%) translateY(calc(-170% + 1px));
    transition: 150ms;
}
#nowMarker:hover .time-bubble {
    transform: translateY(calc(-50% + 1px));
}
/* for targeting */
#nowMarker::after {
    content:  '';
    display: block;
    left: 0;
    width: 100%;
    height: .5em;
    transform: translateY(calc(-50% + 1px));
}



/* schedule background lines and hours */

.sched-box {
	height: var(--height-15min); /* CANNOT BE EM - because .min are have .8 em font and js calculation of time will be off. */ 
	box-sizing: border-box;
}
.sched-box .timestamp {
    width: 2.5em;
    text-align: right;
    padding-right: .3em;
    background: white;
    margin-top: -.8em;
    font-size: .9em;
}
.sched-box.hr {
	border-top: 1px solid #000000aa;
}
.sched-box.min {
	border-top: 1px solid #00000022;
	font-size: .8em;
}
.sched-box.min .timestamp{
	display: none;
}
.sched-box.min:hover .timestamp{
	display: block;
	color: #777;
}


/* Schedule events */

.grid {
	width:100%;
	position: absolute;
	top: 0;
	left: 0;
	display:grid;
	grid-template-columns: 3em 1fr;
}
.events-box {
	width:100%;
	position: relative;
}
.event {
	background: rgb(0, 140, 255);
	color: white;
	box-sizing: border-box;
	padding: .2em;
	border-radius: 3px;
	min-width: 70%;
	max-width: 90%;
	min-height: calc( 2 * var(--height-15min) );
    border: 2px solid #00000011;
    overflow: hidden;
    user-select: none;
    cursor: pointer;
	position: absolute;
}
.event:hover, .events.active {
	z-index: 20 !important;
    box-shadow: 0 0 5px #00000088;
}
.event[data-type*="main"] {
	z-index: 10;
	/* left: 50%;
    max-width:60%;
    transform: translateX(-50%) */
}
.event.sub {
	z-index: 5;
	background: #bbb;
}
.event[data-type="google"] {
    right: 0;
    max-width: 20% !important;
    min-width: 10em;
}

.event .event-title, .event .event-subtitle {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.event .event-title {
    font-size:.8em;
}
.event .event-subtitle {
    font-size:.7em;
}
