#aplus-cal-box {
	position: relative;
}
#aplus-cal-box * { box-sizing: border-box; }



/* nowMarker */

div#nowMarker {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: red;
    user-select: none;
}
#nowMarker .time-bubble {
    position: absolute;
    padding: 0.2em .3em;
    background-color: inherit;
    color: #fff;
    font-size: 0.7em;
    font-weight: bold;
    border-radius: 3px;
    transform: scale(0.3) translateX(-300%) translateY(calc(-170% + 1px));
    transition: 150ms;
}
#nowMarker:hover .time-bubble {
    transform: translateY(calc(-50% + 1px));
}
/* for targeting */
#nowMarker::after {
    content:  '';
    display: block;
    left: 0;
    width: 100%;
    height: .5em;
    transform: translateY(calc(-50% + 1px));
}



/* schedule background lines and hours */

.sched-box {
	height: 16px; /* CANNOT BE EM - because .min are have .8 em font and js calculation of time will be off. */ 
	box-sizing: border-box;
}
.sched-box .timestamp {
    width: 2.5em;
    text-align: right;
    padding-right: .3em;
    background: white;
    margin-top: -.8em;
    font-size: .9em;
}
.sched-box.hr {
	border-top: 1px solid #000000aa;
}
.sched-box.min {
	border-top: 1px solid #00000022;
	font-size: .8em;
}
.sched-box.min .timestamp{
	display: none;
}
.sched-box.min:hover .timestamp{
	display: block;
	color: #777;
}


/* Schedule events */

.grid {
	width:100%;
	position: absolute;
	top: 0;
	left: 0;
	display:grid;
	grid-template-columns: 3em 1fr;
}
.events-box {
	width:100%;
	position: relative;
}
.event {
	background: rgb(0, 140, 255);
	color: white;
	box-sizing: border-box;
	padding: .2em;
	border-radius: 3px;
	min-width: 70%;
	max-width: 90%;
	min-height: 50px;
    border: 2px solid #00000011;
    overflow: hidden;
    user-select: none;
    cursor: pointer;
	position: absolute;
}
.event:hover, .events.active {
	z-index: 20 !important;
	box-shadow: 0 0 5px #00000088;
}
.event.main {
	z-index: 10;
	left: 50%;
    max-width:60%;
    transform: translateX(-50%)
}
.event.sub {
	z-index: 5;
	background: #bbb;
}

.event .event-title {
    font-size:.8em;
}
.event .event-subtitle {
    font-size:.7em;
}